body {
  margin: 0;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  user-select: none;
}

.splash h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  color: white;
  text-align: center;
}